/*----------------------

  Content:
    1.Fonts
    2.Typography
	3.Menu
	4.Main
	5.Comment
	6.Footer
	
    

    
-----------------------*/


/*-------------------------------------------------------*/
/* 1.Fonts
/*-------------------------------------------------------*/

@font-face {
	font-family: "IRANYekan";
	src: url('../fonts/IRANYekan.eot');
	src: url('../fonts/IRANYekan.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANYekan.woff') format('woff'), url('../fonts/IRANYekan.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: "Kalameh";
	src: url('../fonts/Kalameh Bold.eot');
	src: url('../fonts/Kalameh Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Kalameh Bold.woff') format('woff'), url('../fonts/Kalameh Bold.ttf') format('truetype');
	font-weight: normal;
}


/*-------------------------------------------------------*/
/* 2.Typography
/*-------------------------------------------------------*/

body {
	font-family: IRANYekan;
	overflow-x: hidden;
}

.align-direction {
	direction: rtl;
	text-align: right;
}

.right-dir {
	direction: rtl;
}
h1 {
	font-size: 2.85rem ;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.29;
	letter-spacing: 0.18px;
	color: #222222;
}


p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.11px;
	color: #000;
}

ul {
	list-style: none;
	padding: 0;
}
.right-dir{
	direction:rtl;
}
/*-------------------------------------------------------*/
/* 3.Menu
/*-------------------------------------------------------*/

.navbar-light .navbar-toggler {
	border: none !important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
}
.navbar {
	
	box-shadow: 1px 2px 7px #aaa;
}
.navbar-light .navbar-nav .nav-link{
	color: #333 !important;
	margin-right: 10px;
	font-size: 15px;
}
ul.navbar-nav {
	margin-left: auto;
	direction: rtl;
	text-align: right;
	padding-right: 0;
	padding-left: 40px;
}

li.nav-item {
	position: relative;
}

.navbar-light .navbar-nav .nav-link.active {
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
	font-weight: 600;
}

.navbar-light .navbar-toggler {
	outline: none;
	border-radius: 0
}
.navbar-brand img{
	width: 50px;
	border-radius: 40%;
}

.navbar .dropdown-menu div[class*="col"] {
	margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
 }
 

.dropdown-menu.show {
    display: flex;
}
 
 @media screen and (min-width: 992px) {

 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }

 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
 }

 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
   top:45px;
   padding-top: 30px;
   padding-bottom: 100px;
 }


   .navbar .dropdown-menu {
	 box-shadow: 1px 1px 5px #eee;
	 background-color: #fff;
   }
 
 }
 .dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active{
	 background-color: transparent;
	 color: #000;
 }
 .dropdown-item {
	 font-weight: bold;
 }
 .dropdown-menu ul li a{
	text-decoration: none;
	color:#333;
	font-size: 12px;
 }
 .dropdown-toggle::after{
	content:unset;
 }
 .dropdown-toggle i{
	font-size: 20px;
	top: 12px;
	position: absolute;
	margin-right: 20px;
 }


/*-------------------------------------------------------*/
/* 4.main
/*-------------------------------------------------------*/

.main span{
	font-weight: bold;
}
span.green{
	color: #14dd82;
}

.main .btn-search ,.modal .btn-search{
	background: #14dd82;
	font-weight: bold;
	font-size: 13px;
	color:#fff;
}


.search-img{
	background: #D9D9D9;
}

.search-link{
	margin-left: 50px;
    padding: 15px 19px;
    transform: rotate(-90deg);
    background: #14dd82;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
}
.search-link:hover{
	color:#fff;
}
.search-link i{
	font-size: 20px;
}


.btn-search1{
	position: absolute;
	bottom: 10px;
    left: 15px;
}
.btn-search1 i{
	color: #14dd82;
	font-size: 25px;
}
.btn:focus{
	box-shadow: none;
}
.search .form-control{
	height: 70px;
    box-shadow: 2px 2px 10px #aaa;
    border: none;
    border-radius: 15px;
}
.search .form-control::placeholder{
	font-size: 16px;
	color:#333;
	font-weight: bold;
}
.search .form-control:focus {
    z-index: 9;
}
.owl-carousel .owl-item img{
	width: 120px;
	margin: auto;
}
.owl-carousel .item .card{
	border:none;
	border-radius: .5rem;
}
.owl-carousel .item .card p{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
}
.owl-carousel .item .card a{
	display: inline-block;
    background: #14dd82;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 80px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 12px;

}
.owl-search{
	padding: 40px 20px;
}
/*-------------------------------------------------------*/
/* 5.Comment
/*-------------------------------------------------------*/
.owl-comment .item {
	padding: 20px;
}
.owl-comment .item .item-com{
box-shadow: 2px 2px 10px #aaa;
border-radius: 7px;
background:#fff;
}
.owl-comment .item .item-com h6{
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
}
.owl-comment .item .item-com p{
	font-size: 16px;
    text-align: center;
}
.owl-comment .item .item-com img.smile{
	max-width: 40px;
    float: left;
    margin-top: 30px;
}
.owl-comment .item .item-com img.product{
margin-top: -10px;
margin-right: 10px;
}


/*-------------------------------------------------------*/
/* 6.Footer
/*-------------------------------------------------------*/
.logo-footer{
	width: 17%;
	border-radius: 30px;
}
.footer-add li img {
	width: 35px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.footer-add li .place-img {
	width: 30px;
}

.footer-add li p span {
	margin-right: 10px;
	margin-left: 10px;
	color: #244771;
	font-weight: bold;
}

.right-dir {
	direction: rtl;
}

.footer-bg {
	background: #D9D9D9;
}

.footer-bg p {
	font-size: 14px;
}
.footer-bg p a{
	color: #000;
	text-decoration: none;
}

.img-insta {
	margin-left: 29px;
}

.footer {
	padding: 30px 0 0;
	background-color: #D9D9D9;
}


.footer-col p {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1c1c28;
}

.footer ul li h6 {
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #555770;
}

.footer ul li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1c1c28;
	margin-bottom: 17px;
	display: inline-block;
}

.list-ul {
	margin-top: 16px;
}
.list-ul li{
	font-size: 16px;
}
.links ul li a {
	font-size: 16px;
}
.txt-footer{
	border-top: 1px solid #222;
}