/*----------------------

  Content:
    1.Fonts
    2.Typography
    2.Menu
    4.Hero
    5.Main
    6.Work
    7.Newsletter
    8.Footer
    9.Responsive

    
-----------------------*/


/*-------------------------------------------------------*/
/* 1.Fonts
/*-------------------------------------------------------*/

@font-face {
	font-family: "IRANYekan";
	src: url('../fonts/IRANYekan.eot');
	src: url('../fonts/IRANYekan.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANYekan.woff') format('woff'), url('../fonts/IRANYekan.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: "Kalameh";
	src: url('../fonts/Kalameh Bold.eot');
	src: url('../fonts/Kalameh Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Kalameh Bold.woff') format('woff'), url('../fonts/Kalameh Bold.ttf') format('truetype');
	font-weight: normal;
}


/*-------------------------------------------------------*/
/* 2.Typography
/*-------------------------------------------------------*/

body {
	font-family: IRANYekan;
	overflow-x: hidden;
}

.align-direction {
	direction: rtl;
	text-align: right;
}

.right-dir {
	direction: rtl;
}

.h4 {
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.29;
	letter-spacing: 0.18px;
	color: #222222;
	margin-bottom: 40px;
}

.h5 {
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.11px;
	color: #222222;
}

.h6 {
	font-size: 15px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: 0.09px;
	color: #222222;
}

p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: 0.11px;
	color: #49545d;
}

ul {
	list-style: none;
	padding: 0;
}


header {
	background: #fff;
	box-shadow: 1px 1px 10px #eee;
}


/*-------------------------------------------------------*/
/* 3.Menu
/*-------------------------------------------------------*/

.navbar-light .navbar-toggler {
	border: none !important;
}

ul.navbar-nav {
	margin-left: auto;
	direction: rtl;
	text-align: right;
	padding-right: 0;
	padding-left: 40px;
}

li.nav-item {
	position: relative;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active {
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active:after {
	content: "";
	height: 2px;
	width: 24px;
	position: absolute;
	bottom: 15px;
	right: 28px;
	background-color: #244771;
}

@media (max-width: 1110px) {
	.navbar-expand-lg .navbar-nav .nav-link:after {
		right: 20px;
	}
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link:after {
	background-color: #244771;
}

.navbar-light .navbar-toggler {
	outline: none;
	border-radius: 0
}

.navbar-brand {
	width: 10%;
	margin-right: 3rem;
}
.navbar-brand img{
	width: 50%;
}

.navbar-expand-lg .navbar-nav .nazar-link {
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1c1c28;
}

.navbar-expand-lg .navbar-nav .work-link {

	margin-left: 44px;
	padding: 7px 20px 8px 21px;
	border-radius: 26px;
	border: solid 2px #5b8def;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #0063f7;
}

.shape-login {
	width: 20px;
	height: 19px;
	margin: 4px 0 2px 12px;
}

.navbar-expand-lg .navbar-nav .login {

	padding: 0;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1c1c28;
}




/*-------------------------------------------------------*/
/* 9.responsive
/*-------------------------------------------------------*/


@media screen and (max-width: 992px) {
	.hero-content {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.footer-bg p {
		font-size: 14px;
	}
	.links {
		border-right: none;
	}
	.navbar-brand {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.navbar-expand-lg .navbar-nav .nazar-link {
		margin-right: 0;
	}
	.group-3 {
		margin-top: 0;
	}
	.work ul li a {
		margin-top: 15px;
		margin-bottom: 40px;
	}
	.img-news {
		left: -19%;
		width: 200px;
	}
	.news-content:before {
		top: -200px;
	}
	.img-main img {
		padding: 32px 59px 18px 59px;
	}
	.footer-col {
		padding-right: 10px;
		padding-left: 10px;
	}
	.links {
		border-right: none;
		padding-right: 0;
	}
	.txt-footer {
		margin-right: 0;
		margin-top: 10px;
	}
	.s2-hero:before {
		right: -295px;
	}
	.img-insta {
		margin-right: 5px;
		margin-left: 9px;
	}
	.new-input {
		padding: 0;
	}
}


/*-------------------------------------------------------*/
/* 10.sidebar
/*-------------------------------------------------------*/

.sidebar i{
	color:#0063f7;
	font-size: 20px;
	margin-top:37px;
}
.sidebar .company-icon{
	width: 65px;
    display: block;
    box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 5%);
    border-radius: 50%;
	padding: 7px;
	margin:auto;
	margin-top:21px;
}
.sidebar .title{
	font-size: 12px;
	margin-top:14px;
	text-align: center;
	font-weight: 500;
}
.rate{
	direction: ltr;
}
.rate .fa-star{
	color: #e4e4eb;
	font-size: 12px;
}
.rate .fa-star.checked{
	color:#ff8800;
}
.cm-side .cm1{
	padding-bottom: 31px;
}
.cm-side span{
	font-size: 14px;
	font-weight: bold;
}
.percent-span{
font-size: 30px;
  font-weight: 900;
  color: #0063f7;
  position: absolute;
  left: 40%;
    top: 40%;
}
.percent p{
	font-size: 12px;
  font-weight: 600;
  color: #1c1c28;
}

.percent p span{
	font-size: 13px;
	font-weight: 800;
}
.info-side .info1{
	border-top: solid 1px #e4e4eb;
}
.info1 span, .info2 span{
	color: #28293d;
	font-size: 15px;
	font-weight: bold;
	
}
.info1 .line ,.info2 .line{
	width: 3px;
    height: 8px;
    background: #5b8def;
    margin-top: 9px;
    margin-left: 7px;
}

.ersal img{
	width:25px;
}
.ersal span{
	font-size: 15px;
	color: #555770;
	font-weight: bold;
}
.info-side .info-span span{
	font-size: 12px;
	color: #555770;
	font-weight: 600;
}
.info-side .info-span{
	margin-bottom:15px;
}
.info-side .info-color span{
	color: #28293d;
	font-weight: 600;
}
.info-side .info-span .more{ 
	background-color: #e5f0ff;
	color: #0063f7;
	padding: 4px 17px;
	border-radius: 17.5px;
}
.info-side p{
	font-size: 11px;
	color: #6e798d;
}
.info-side .info-link{
	color: #0063f7;
	border-radius: 26px;
	border: solid 2px #5b8def;
	text-decoration: none;
    width: 100%;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.info-border{
	border-top: 1px solid #e4e4eb;
}
.info-side .info-span span.info-tel{
	color: #424b5a;
}
.info-side .info-span span.info-title{
	color:#28293d;
}
.info-side .info-span span.info-mail{
	font-family: sans-serif;
}
.main-review{
	background: #f9f9f9;
}
.main-review .tablinks{
	border:0;
	outline:none;
	background: transparent;
	font-size: 14px;
}
.main-review .tablinks:focus .main-review .tablinks:active{
	border:0;
	outline:none;
}
.main-review .tab{
    border-bottom: 1px solid #ebebf0;
}
.main-review .tablinks.active{
	padding-bottom: 16px;
	border-bottom: 4px solid #0063f7;
	font-weight: bold;
	border-radius: 2px;
}
.nazar-me{
	border-bottom: 1px solid #ebebf0;
}
	
.main-review .tabcontent .form-group{
	justify-content: flex-end;
	font-size:13px;
}
.main-review .tabcontent .select-review{
	justify-content: flex-end;
}
.main-review .tabcontent select{
	display: block;
    width: 100%;
    height: unset; 
    padding: 0;
    font-size: 13px;
    font-weight: 600;
	line-height: 1.5;
	border:none;
    background-color: transparent;

}
.main-review .tabcontent h6{
	font-weight: bold;
}
.main-review .tabcontent label{
	color: #8f90a6;
}
.like-comment{
	justify-content: flex-end;
	align-items: flex-end;
}
.comment{
	background:#fff;
	border-radius: 12px;
}
.comment-name{
	color: #555770;
	font-size: 14px;
}
.comment .rate .fa-star {
	font-size: 14px;
}
.like-comment span{
	color: #555770;
	font-size: 13px;
}
.like-comment img{
	width: 35%;
}
.replay-comment h6{
	font-size: 14px;
}
.comment p,.replay-comment p{
	font-size: 13px;
	font-weight: 500;
}
.replay-comment{
	background:#e5f0ff;
	border-radius: 12px;
	padding: 30px;
}
.mob-img{
	border-radius: 12px;
}
.main .form-control{

	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
}
.main-rate p{
	font-size: 13px;
	font-weight: 600;
}

input[type="file"] {

	display:block;
}

.imageThumb {
	max-height: 75px;
	border: 2px solid;
	margin: 10px 10px 0 0;
	padding: 1px;
	margin-bottom: 60px;
	position: absolute;
	z-index: 9;
}

.custom-file-label::after {
    content: "+" !important;
    font-size: 40px;
	font-weight: 900;
	left: 0;
	background: none;
	border:0;
	top: -14px;
}
.main .custom-file-label{
	border:none;
	border-radius: .375rem;	
	padding: .5rem 1rem;
	font-weight: 700;
	font-size: 16px;
	height: 189px;
    line-height: 30px;
}
.custom-file-input:focus~.custom-file-label::after{
	background: none;

}
.main textarea{
	border-radius: 12px;
	border: solid 2px #9dbff9;
}

  .upload-photo {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 220px;
	color:  #0063f7;
	font-weight: bold;
	background-color: #fff;
	background-size: cover;
	font-size: 40px;
	cursor: pointer;
	border: dashed 3px #9dbff9;
  }

  
  input[type=file] {
	display: none;
  }
  .up-pic{
	text-align: right;
    display: flex;
    align-items: flex-end;
  }
  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	transform: rotate(90deg);
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f2f2f5;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 34px;
	width: 34px;
	background: url(../image/group-11.png);
	background-position: center;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #f2f2f5;
	
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #f2f2f5;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(34px);
	-ms-transform: translateX(34px);
	transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  .page {
	  width:100%;
	  margin-top:200px;
  }

  .left-dir{
	  direction:ltr;
  }
  .page-item .page-link{
	color: #424b5a;
	  border:none;
	  background: transparent;
	  font-size:12px;
	  width: 24px;
	  height: 24px;
	  padding: 0;
	  line-height: 24px;
  }
  .page-item .page-link:hover{
	  background:#0063f7;
	  color:#fff;
	  border-radius: 50px;
	
  }
  .page-item:first-child .page-link:hover,.page-item:last-child .page-link:hover{
	  color:#ff8800;
	  background: transparent;
  }
  
/*-------------------------------------------------------*/
/* 8.footer
/*-------------------------------------------------------*/

.footer-add li img {
	width: 35px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.footer-add li .place-img {
	width: 30px;
}

.footer-add li p span {
	margin-right: 10px;
	margin-left: 10px;
	color: #244771;
	font-weight: bold;
}

.right-dir {
	direction: rtl;
}

.footer-bg {
	background: #c7c9d9;
}

.footer-bg p {
	color: #1c1c28;
	font-size: 14px;
}

.txt-footer {
	margin-right: 48px;
}

.img-insta {
	margin-right: 53px;
	margin-left: 29px;
}

.footer-bg img {
	height: 20px;
}

.footer {
	padding: 98px 0;
	background-color: #f2f2f5;
}

.footer-col {
	padding-right: 84px;
	padding-left: 84px;
}

.footer-col p {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1c1c28;
	margin-top: 23px;
}

.footer ul li h6 {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #555770;
}

.footer ul li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1c1c28;
	margin-top: 17px;
	display: inline-block;
}

.nazarto-ul {
	margin-top: 30px;
}

.links {
	border-right: 1px solid #c7c9d9;
	padding-right: 100px;
}